@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(http://fonts.googleapis.com/css?family=Exo:900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

/* Magnific Popup Custom CSS */
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }
/*
.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }
*/

/* commenting Zoom out cursor
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }
  */

.mfp-zoom {
  cursor: pointer;
  /* commenting zoom in cursor
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;*/ }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after, .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before, .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3F3F3F; }

/*
.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }
*/

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; }
 }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; }
 }

.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }

/* Wookmark Custom CSS */

#tiles {
  list-style-type: none;
  position: relative; 
  margin: 0;
  padding: 0;
}

#tiles li {
  width: 200px;
  background-color: #FFF;
  /*border: 1px solid #e2e2e2;*/
          border-radius: 2px;
     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: none; 
  cursor: pointer;
  
        -moz-box-sizing: border-box;
           box-sizing: border-box;
       
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 3px rgba(91, 91, 91, 0.26);
  /*box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
padding: 0px;
}


.wookmark-placeholder {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #eee;
  border: 1px solid #dedede;
  z-index: -1;
}


#tiles li {
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.wookmark-placeholder {
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}


    #tiles li img {
      width: 100%;
      height: auto;
    display: block;
    }
  
  #tiles li p {
    color: #666;
    font-size: 14px;
    font-family: sans-serif;
    
    line-height: 1.231;
    text-align: left;
    
    
    line-height: 25px;
    overflow: hidden;
    
    margin:2px 10px 10px 10px;
    height: 40px;
  }


/*Instamax CSS*/

#instamax,.instamax {
background-color: #e6e6e6;
width:100%;
margin:0px auto;
font-family: Calibri;
font-size: 14px;
text-align: center;
border-left: 1px solid #e2e2e2;
border-right: 1px solid #e2e2e2;
}

.instamax-photo-list-title {
color: rgb(87, 129, 212);
display: inline-block;
font-weight: bold;
overflow: hidden;
font-family: Calibri;
font-size: 14px;
height: 22px;
float: left;
width: 100%;
}

.instamax-photo-list-views {
color: #555;
display: inline-block;
font-size: 12px;
float: left;
padding-left: 1px;
}

.instamax-duration {
/*background-color: black;*/
background-color: #e16363;
color: white;
padding: 3px 6px;
font-weight: bold;
position: absolute;
bottom: 52px;
right: 0;
opacity: 1;
width: 50%;
text-align: center;
line-height: 18px;
}

.instamax-definition {
/*background-color: black;*/
background-color: #e16363;
color: white;
padding: 3px 6px;
font-weight: bold;
position: absolute;
bottom: 52px;
left: 0;
opacity: 1;
width: 50%;
text-align: center;
line-height: 18px;
}

#instamax-lightbox {position:fixed;background-color:rgba(0,0,0,0.9);z-index:100;width:100%;height:100%;left:0;top:0;display:none;}

#instamax-photo-lightbox {opacity:1;}

#instamax-iframe-holder {
width:100%; 
position:absolute; 
left: 0;
top: 0;
bottom: 0;
right: 0;
margin: auto;
height: 480px;
}

.instamax-loading {
position: absolute;
left: 0;
top: 0;
bottom: 0;
right: 0;
margin: auto;
width: 120px;
height: 30px;
color: white;
font-size: 30px;
}

#instamax-header {
background-color: rgb(53,53,53);
font: 24px Arial;
color: white;
line-height: 25px;
height: 120px;
text-align: left;
position: relative;
background-position: center center;
background-size: cover;
}

#instamax-header-wrapper {
position:relative;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.2);
}

#instamax-stat-holder {
float: right;
height: 100%;
position: absolute;
right: 0;
top: 0;
}


.instamax-stat {
float: right;
margin: 40px 15px;
font: 11px Arial;
color: #fff;
margin-top: 40px;
text-align: center;
}

#instamax-photo-list-div {
width: 100%;
text-align: left;
display: inline-block;
background-color: #e6e6e6;
}

.instamax-stat-count {
font: 18px Arial;
padding-bottom: 5px;
display: inline-block;
font-weight: bold;
}

.instamax-user-icon {
display: inline-block;
height:100%;
}

.instamax-user-title {
display: inline-block;
font-family: Calibri;
font-size: 24px;
vertical-align: top;
height: 100%;
line-height: 120px;
}

.instamax-user-icon  img{
vertical-align:middle; height:80px; margin: 20px; display:inline-block;
border: none;
width: auto;
margin-left: 30px;
border-radius: 3px;
}

.instamax-subscribe{
display: inline-block;
width: 150px;
height: 30px;
overflow: hidden;
position: absolute;
top: 0;
margin: auto;
left: 0;
bottom: 0;
right: 0;
}

.instamax-subscribe div {
position:static !important;
vertical-align: top !important;
}

.instamax-subscribe iframe {
position:static !important;

}

#instamax-header-wrapper>a {
text-decoration: none;
color: white;
height: 100%;
display: inline-block;
outline: none;
}

#instamax-tabs {
text-align: left;
background-color: #e6e6e6;
padding-left: 30px;
padding-right: 30px;
margin-top: 22px;
}

.instamax-tab,.instamax-encloser-comment-button {
background-color: #e6e6e6;
color: #666;
text-shadow: 0 1px 0 #fff;
display: inline-block;
margin: 5px;
margin-top: 10px;
padding: 4px 10px;
cursor: pointer;
cursor: hand;
/*max-width: 150px;*/
height: 23px;
overflow: hidden;
line-height: 23px;
box-sizing: content-box;
border-radius: 2px;
font-family: Roboto Condensed;
font-size: 16px;
padding: 5px 11px;
}

.instamax-tab:hover {
background-color: #f7f7f7;
}

.instamax-tab-hover {
  color:white;
  /*background-color: rgb(87, 129, 212) !important;*/
  background-color: #e16363 !important;
  text-shadow:none;
}


#instamax-load-more-div {
width: 100%;
height: 40px;
line-height: 1;
background-color: rgb(212, 212, 212);
color: #666;
text-shadow: 0 1px 0 #fff;
cursor: pointer;
border: none;
outline:none;
font-size: 15px;
font-weight: 900;
font-family: 'Exo', Calibri, sans-serif;
line-height: 1px;
border-radius: 0px;
}

#instamax-load-more-div:hover {
color: white;
/*background-color: rgb(87, 129, 212);*/
background-color: #e16363;
text-shadow:none;
}

.instamax-load-more-div-click {
color: white !important;
background-color: #e16363 !important;
/*background-color: #5781d4 !important;*/
text-shadow:none !important;
}

#instamax-select{
width: 100%;
font-size: 14px;
margin-top: 20px;
border: 1px solid #ccc;
border-radius: 4px;
height: auto;
padding: 8px;
outline: none;
background-color:#fff;
}

#instamax-select-box{
  display:none;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 22px;
}

#instamax-select > option {
  background: white;
  color:#5A5A5A;
  cursor:pointer;
}

#instamax-encloser {
margin-top: 15px;
}

/*Styles Added in 2.0*/

#instamax-showing-title {
margin-top: 20px;
width: 100%;
}

#instamax-showing-title .instamax-tab {
width: 100%;
box-sizing: border-box;
height: auto;
margin: 0;
padding: 6px;
}

.instamax-album-photo-count {
font-size: 20px;
font-weight: bold;
}

.instamax-album-line {
width: 40%;
border: 2px solid rgb(218, 218, 218);
display: inline-block;
}

.instamax-album-line-wrapper {
font-size: 7px;
margin-top: 4px;
line-height: 9px;
}

.instamax-album-photo-count-box {
overflow: auto;
margin: auto;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
width: 100%;
height: 85px;
line-height: 20px;
/* border-top: 10px solid rgb(205, 205, 205); */
/* border-bottom: 10px solid rgb(205, 205, 205); */
}

.instamax-album-photo-count-wrapper {
position: absolute;
right: 0;
top: 0;
height: 100%;
background-color: rgba(0,0,0,0.5);
color: white;
width: 30%;
text-align: center;
}

/*Icon styles*/

.instamax-definition i {
  font-size: 12px;
}

.instamax-duration i {
  font-size: 12px;
}

.instamax-subscribe a {
background-color: #285989;
  color: white;
  text-decoration: none;
  padding: 8px 10px;
  font-size: 15px;
  line-height: 15px;
  display: inline-block;
  border-radius: 3px;
  font-weight: bold;
  font-family: Calibri;
  font: 11px Arial;
  vertical-align: middle;
}

.instamax-subscribe i {
  font-size:14px;
}

.instamax-subscribe a:hover {
background-color: #49739D;
}

/*Fitvids*/

.fluid-width-photo-wrapper{width:100%;position:relative;padding:0;}
.fluid-width-photo-wrapper iframe{position:absolute;top:0;left:0;width:100%;height:100%;}


/*Instamax 3.0 styles*/

#instamax-search-holder {
  padding: 0px 12px;
  height: 26px;
  display: inline-block;
  background-color: rgba(255,255,255,0.85);
  margin-top: 45px;
  margin-right: 30px;
  border-radius: 8px;
  overflow: hidden;
}

#instamax-search-box {
  background-color: rgba(0,0,0,0);
  margin: 0px !important;
  vertical-align: top;
  height: 24px;
  border: none;
  color: black;
  outline: none;
  font: 14px Calibri;
  padding-left: 0px;
}

.instamax-search-icon {
  font-size: 14px !important;
  vertical-align: top;
  margin-top: 5px;
  margin-left: 5px;
  color: black;
}

.instamax-not-found {
text-align: center;
}

/*Added in Instamax 3.0*/

#photo-detail-holder {
  background-color: white;
  width: 100%;
  height: auto;
  display: inline-block;
  line-height: normal;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Roboto Condensed',sans-serif;
  text-align:left;
}

.instamax-load-more-wrapper {
  text-align:center;
}

.mfp-bottom-bar {
  padding-bottom: 15px;
}

.photo-popup-stats {
  padding: 12px 0px;
  color: rgb(132, 132, 132);
  font-size: 14px;
  /*font-weight: bold;*/
  border-bottom: 1px solid #e2e2e2;
}

.media-likes {
  padding-right:12px;
}

.media-uploaded {
  float:right;
}

.photo-popup-buttons {
  margin-top: 13px;
}

.photo-like-comment-button {
  width: 60%;
  padding: 8px;
  box-sizing: border-box;
  /*background-color: rgb(71, 209, 92);*/
  
  /*margin: 10px 10px 10px 0px;
  border-radius: 4px;
  */
  text-align: center;
    display: inline-block;
  
  background-color: rgb(70, 191, 89);
    color: white;
      cursor: pointer;
}


.photo-follow-button {
  width: 40%;
  padding: 8px;
  box-sizing: border-box;
  background-color: rgb(71, 164, 209);
  /*margin: 10px 0px 10px 5px;
  border-radius: 4px;
  */
  text-align: center;
  display: inline-block;
  background-color: #1b7fcc;
  color: white;  
    cursor: pointer;
}


.instamax-from {
display: inline-block;
width: 100%;
/*background-color: #323845;*/
float: left;
}

.instamax-from-img {
width: 40px;
height: 40px;
background-size: cover;
background-position: center center;
display: inline-block;
float: left;
border-radius: 40px;
}

.instamax-from-name {
display: inline-block;
line-height: 40px;
float: left;
margin-left: 12px;
font-family: 'Roboto Condensed',sans-serif;
font-size: 16px;
color: #000;
}

.instamax-comment-content {
text-align: left;
margin-top: 10px;
display: inline-block;
overflow: hidden;
float: left;
/*font-size: 1.1em;*/
font-size: 15px;
color: #666;
font-family: 'Roboto Condensed',sans-serif;
line-height: 18px;
word-break: break-word;
}

.instamax-published {
display: inline-block;
line-height: 40px;
float: right;
margin-right: 12px;
color: #54A7B9;
font-size: 14px;
font-family: 'Roboto Condensed',sans-serif;
}

#instamax-encloser-comment-holder {
  display: hidden;
  width: 100%;
}
.instamax-video-comment {
display: inline-block;
width: 100%;
margin-bottom: 15px;
background: #e6e6e6;
/*padding: 15px 15px;*/
padding: 10px 15px 10px 15px;
box-shadow: inset 1px 1px 0 rgba(220,220,220,.25),1px 1px 2px rgba(59,59,59,.26);
box-sizing: border-box;
}

.instamax-comment {
/*background: #e6e6e6;*/
display: inline-block;
width: 100%;

}

#instamax-encloser-comments {
  padding-top: 20px;
}

.instamax-video-comment {
  /*background: #EEEDED;
  box-shadow: none;*/
}

#instamax-load-more-comments {
  color: rgb(122, 122, 122);
  background-color: white;
  /*text-shadow: 0 0;*/
  width: 150px;
  height: 25px;
  line-height: 25px;
  border-radius: 2px;
  text-shadow: none;
}

#instamax-load-more-comments {
  text-align: center;
  color: #fff;
  background-color: #7a7a7a;
  width: 150px;
  height: auto;
  line-height: 20px;
  border-radius: 2px;
  text-shadow: none;
  display: inline-block;
  margin: 5px;
  margin-top: 10px;
  cursor: pointer;
  font-family: Roboto Condensed;
  font-size: 14px;
  padding: 5px 11px;
}

#instamax-load-more-comments:hover {
  /* color: red; */
  background-color: #1b7fcc !important;
}

/* Added for video*/

.mfp-content video {
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

.instamax-play-icon {
  display: inline-block;
  color: white;
  position: absolute;
  margin: auto;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 80px;
  height: 80px;
  font-size: 8px;
  padding: 18px 0px 10px 25px;
  border: 4px solid white;
  border-radius: 80px;
  box-sizing: border-box;
}

/* Added for clean header */

/* Only for clean.css */

.instamax-user-icon {
  float: right;
}

#instamax-header-info {
  width: 62%;
  padding-right: 8%;
  float: right;
  display: inline-block;
  height: 100%;
  color: rgb(69, 68, 68);
    font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
    height: auto;
}

#instamax-header {
  height:auto !important;
  display: inline-block;
  padding-bottom: 20px;
}

#instamax-header-title {
  font-size: 35px;
  font-weight: 300;
  line-height: normal;
    display: inline-block;
    color: black;
}

#instamax-header-bio {
  font-size: 17px;
  margin-top: 10px;
}

#instamax-header-website a {
  text-decoration: none;
  color: rgb(13,60,95);
  font-size: 17px;
  word-break: break-all;
}

#instamax-header-counts {
  margin-top: 10px;
  font-size: 17px;
}

.instamax-header-posts,.instamax-header-followers {
  margin-right: 20px;
}

span.instamax-count {
  font-weight: bold;
  font-size: 15px;
  color:black;
}

#instamax-header-wrapper>a {
  width: 18%;
  margin-left: 8%;
  margin-right: 4%;
  float:left;
  text-align: center;
}

#instamax, .instamax {
  padding-top: 0px;
  padding-bottom: 25px;

}



/* Added for Clean CSS */

#instamax-tabs {
  display: none;
}

/*
#instamax-select-box {
  display: inline-block;
  width: 54%;
  box-sizing: border-box;
  padding: 0px !important;
  float: right;
  margin-right: 8%;
  margin-top: 0px;
}*/

#instamax-select-box {
  width: 0%;
}

#instamax-select {
  margin-top: 0px;
}

.instamax-duration ,.instamax-definition{
  background-color: rgba(0,0,0,0.5);
  padding-top: 49%;
  box-sizing: border-box;
  color: #fff;
  font-weight: 700;
  position: absolute;
  bottom: 0px;
  right: 0;
  opacity: 1;
  width: 50%;
  text-align: center;
  height: 100%;
  font-size: 20px;
  display:none;
}

.instamax-duration i ,.instamax-definition i{
  font-size: 20px;
}

.instamax-duration {
  text-align: left;
  padding-left: 8%;
}

.instamax-definition {
  text-align: right;
  padding-right: 8%;
}

/*.instamax-duration:hover ,.instamax-definition:hover{
  display:block;
}*/


#tiles li p {
  display: none;
}

#instamax-photo-list-div,#instamax-tabs,#instamax, .instamax {
  /*background-color: rgb(250, 250, 250);*/
  background-color: transparent;
}

#instamax-header {
height: 220px;
}

.instamax-user-icon img {
  height: 160px;
  border-radius: 160px;
  border: 1px solid #CECECE;
}

.instamax-subscribe, #instamax-stat-holder , .instamax-user-title{
  display:none;
}

.instamax-subscribe-clean {
  display: inline-block;
  font-size: 14px;
  background-color: #66bd2b;
  padding: 2px 10px;
  border-radius: 3px;
  font-weight: bold;
  font-family: Calibri;
}

.instamax-subscribe-clean-wrapper {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  margin-left: 0px;
}

.instamax-subscribe-clean a {
  text-decoration: none;
  color: white;
}

#instamax-header {
  height: 220px;
  background-image: none !important;
  /*background-color: rgb(250, 250, 250);*/
  background-color: transparent !important;
}

#instamax-header-wrapper {
  background-color: rgba(0,0,0,0);
}

#instamax, .instamax {
  border:none;
}

#instamax-load-more-div {
  width: 160px;
  height: 160px;
  border-radius: 160px;
  transition: 0.4s;
}

#instamax-load-more-div:hover,.instamax-load-more-div-click {
  background-color: #125688 !important;
}


/*Responsive media queries*/


@media all and (max-width: 800px) , screen and (max-device-width: 800px) {

  #instamax-stat-holder {
  display:none;
  }

  .instamax-subscribe {
  left:initial;
  }

  #instamax-select-box{
    /*display:block;*/
    display: none;
  }

  #instamax-tabs {
    display:none;
  }

  #instamax-header-title {
    font-size: 25px !important;
    word-wrap: break-word;
  }
  
  /*.instamax-photo-comment {
    width: 90%;
  }*/ 
  
  .instamax-user-icon img {
    margin-left:10px;
  }
  
  /* only for clean.css */
  
  #instamax-select-box {
    /*
    display:block;
    width: 90%;
    margin: 0px auto;
    float: none;    */
    display: none;
  }

  
  #instamax-header-wrapper>a {
    margin-left: 0% !important;
    /*margin-right: 30%;*/
    /*margin-left: auto;
    margin-right: auto;*/
    width: 100%;
    vertical-align: middle;
  }
  
  #instamax-header-info {
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    height: auto;
    padding-bottom: 15px;
  }
  
  #instamax-header-title {
    text-align: center;
    margin-top: -5px;
    padding-bottom: 15px; 
    width: 100%;
  }

  #instamax-header-counts{
    text-align: center;
  }

  #instamax-user-icon {
    vertical-align: middle !important;
  }

  #instamax-header-website {
    text-align: center;
  }

  .instamax-subscribe-clean-wrapper {
    width: 100%;
    text-align: center;
    margin: 0px;
    margin-bottom: 10px;
    margin-left: -4px;
  } 
  
  .instamax-user-icon {
    float:none;
  }

}





@media all and (max-width: 500px) , screen and (max-device-width: 500px) {

  #instamax-stat-holder {
  display:none;
  }

  .instamax-subscribe {
  display:none;
  }

  .instamax-tab {
  width: 42%;
  text-align: center;
  }
  
  .instamax-add-comment-button {
    width: 35%;
  } 
  
  .instamax-comment-textbox {
    width: 85%;
  } 

}

@media all and (max-width: 350px) , screen and (max-device-width: 350px) {

  .instamax-tab {
  width: 90%;
  text-align: center;
  }

}

/* Added for video popup */

@media only screen and (min-width: 1000px) and (min-device-width: 1000px) {
  
  .mfp-content figcaption {
    overflow-y: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .mfp-bottom-bar { 
    position:static;
    margin-top:0px;
  }

  figcaption{
    display: inline-block;
    float: right;
    width: 400px;
  }

  img.mfp-img {
    float: left;
  }
  
  /* Added for video*/
  .mfp-content video {
    float:left;
  }

  .mfp-figure:after {
    background-color: white;
  }
  
  .instamax-published {
    display: none;
  }

  .instamax-from-name {
    display: none;
  }

  .instamax-from {
    width: auto;
    float: left;
  }

  .instamax-comment {
    float: left;
    width: 282px;
  }

  .instamax-comment-content {
    margin-top: 0px; 
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-left: 10px;
    min-height: 40px;
  } 
  
  .instamax-video-comment {
    margin-bottom: 10px;
    padding: 10px 15px 10px 15px;
  } 
  
  .mfp-content figcaption::-webkit-scrollbar {
    width: 12px;
  }

  .mfp-content figcaption::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    /*border-radius: 10px;*/
    margin:5px 0px 5px 0px;
  }

  .mfp-content figcaption::-webkit-scrollbar-thumb {
    /*border-radius: 10px;*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7); 
  } 

}

/* Added as fixes ???

.mfp-content video {
  width: 100%;
}

*/


/*After Free Upgrade*/

#photo-detail-holder {
      padding: 25px;
}

@media only screen and (min-device-width: 1000px) and (min-width: 1000px)
.instamax-comment {
    max-width: 260px;
}

.instamax-comment {
    width: 80%;
    padding-left: 3%;
}

.instamax-comment-content {
      font-size: 14px;
}

.photo-popup-title {
  font-size: 22px;
    padding-bottom: 8px;
}

@media only screen and (min-device-width: 1000px) and (min-width: 1000px)
.instamax-video-comment {

    padding: 0px;
}

.instamax-video-comment {
  padding: 0px;
}

.instamax-from-img {
      border-radius: 0px;
}

.instamax-video-comment {
      box-shadow: 0px 0px 37px 0px rgba(0,0,0,0.2);
}

#instamax-header-wrapper>a {
      margin-left: 13%;
}

#instamax-header {
   padding-bottom: 0px;
}

#instamax-photo-list-div {
    padding-top: 15px;
}

#instamax-load-more-div{
  font-size: 22px;
  line-height: 100%;
  font-family: fantasy;
    font-weight: normal;
}

#instamax-load-more-comments {
  width: 100%;
    box-sizing: border-box;
        margin: 10px 0px;
}

.instamax-published, .instamax-from-name {
    display: none;
}

.instamax-from {
   width: auto;
}

.photo-popup-buttons {
    font-size: 15px;
}

#instamax-select {
    font-size: 20px;
    font-family: fantasy;
    color: #607D8B;
    padding: 8px 16px;
}

#instamax-load-more-div:hover, .instamax-load-more-div-click {
    background-color: #607D8B !important;
}